@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("./notie.css");

header,
header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
header{
    background: #FF013C!important;
    padding: 0!important;
    position: sticky!important;
    width: 100%;
    top: -1px;
    z-index: 50;
    transition: 500ms ease-in-out;

}
header nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 20px;
  overflow: hidden;
}

header nav.open{
  max-height: none;
  overflow:initial;
}
header .arrowMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
header .arrowMenu img{
  width: 20px;
  display: block;
  margin: auto;
  transform: rotate(180deg);
  transition: 500ms ease-in-out;
}

header .arrowMenu img.open{
  transform: rotate(0deg);
}

header h1 {
    font-size: 20px!important;
    height: 30px!important;
    text-transform: uppercase;
    color: #fff;
}

header nav ul{
    margin: 10px 0;
    padding: 0;
    display: none;
}
header nav ul.open{
  display: flex;
}
header .menuItem {
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    max-width: 335px;
    width: auto;
}
#successContainer,
.errorMessage{
  display: none;
}

.successMessage,
.errorMessage{
  padding: 5px 40px;
}
.menuItem a{
  padding: 5px 25px;
}

.notie-button,
.notie-button:after,
.stateSelect,
.stateSelect::after,
.successMessage,
.successMessage::after,
.errorMessage,
.errorMessage::after,
.deleteBtnContainer a,
.deleteBtnContainer a::after,
.menuItem a, 
.menuItem a::after {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #F8F005 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    cursor: pointer;
}
.active a:after,
.errorMessage:after,
.deleteBtnContainer a::after,
.menuItem a::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'MENU';
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #F8F005 5%);
  text-shadow: -3px -3px 0px #FF013C, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.notie-button:after,
.notie-alert:after,
.stateSelect:after,
.successMessage:after{
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "ÉTAT";
  height: 40px;
  display: block;
  position: absolute;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #F8F005 5%);
  text-shadow: -3px -3px 0px #FF013C, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}
.notie-button{
  width: 30%;
  margin: auto 10px;
}

.notie-button,
.notie-button:after{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.notie-button:after{
  content: "CONFIRMER";
}
.notie-button:last-child:after{
  content: "ANNULER";
}

.notie-alert,
.notie-alert:after{
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  cursor: pointer;
}


.notie-background-warning{
  background: linear-gradient(45deg, transparent 5%, #ff9800 5%);
}

.notie-background-error{
  background: linear-gradient(45deg, transparent 5%, #ff003c 5%);
}

.notie-background-info{
  background: linear-gradient(45deg, transparent 5%, purple 5%);
}

.notie-background-success{
  background: linear-gradient(45deg, transparent 5%, #8ae66e 5%);
}
.notie-background-overlay {
  background-color: #585858; 
}

.notie-container{
  box-shadow: none;
}

.errorMessage, 
.errorMessage::after, 
.deleteBtnContainer a,
.deleteBtnContainer a::after{
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
}

.successMessage,
.successMessage::after{
  background: linear-gradient(45deg, transparent 5%, #8ae66e 5%);
}

.errorMessage::after, 
.deleteBtnContainer a::after {
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
}

.successMessage::after{
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #8ae66e 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  content: 'INSCRIPTION RÉUSSIE';
}

.errorMessage::after,
.deleteBtnContainer a::after{
  content: 'ERREUR';
  
}
.notie-alert::after{
  content: "NOTIFICATION";
  width: 100%;
}
.notie-alert,
.notie-alert:after{
  position: fixed;
  top: 0;
}

.notie-button:hover::after,
.stateSelect:hover::after,
.successMessage:hover::after, 
.errorMessage:hover::after, 
.deleteBtnContainer a:hover::after,
.menuItem a:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

.active a::after,
.notie-alert::after,
.successMessage::after, 
.errorMessage::after{
  animation: 500ms glitch infinite;
}

.searchBar{
  width: 90%;
  margin: auto;
}
  
@keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
}

main{
    position: relative;
    top: 20px
}

@media (min-width: 880px) {
  .searchBar{
    width: 50%;
    margin: auto;
  }

  header,
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .arrowMenu{
    display: none!important;
  }

  header nav{
    max-height: none;
  }
}

@media (max-width: 760px) and (min-width: 550px) {
  .menuItem a{
    padding: 0px 5px;
  }
}

